---
import Experiencia from "../components/Experiencia.astro";
import Project from "../components/Project.astro";
import Layout from "../layouts/Layout.astro";
import Certificados from "../components/Certificados.astro";
import Navbar from "../components/Navbar.astro";
import AboutMe from "../components/AboutMe.astro";
---

<Layout>
  <Navbar />

  <main class="max-w-7xl mx-auto px-4 pb-32">
    <section
      id="presentation"
      class="max-w-md space-y-4 min-h-[85vh] flex flex-col justify-center"
    >
      <AboutMe />
    </section>

    <!-- Experiencia -->
    <section id="experience" class="min-h-[80vh] flex flex-col justify-center">
      <h2 class="text-3xl font-bold my-12">Experiencia</h2>
      <Experiencia />
    </section>

    <!-- Proyectos -->
    <section id="projects" class="pt-12">
      <h2 class="text-3xl font-bold my-4">Proyectos</h2>
      <Project />
    </section>

    <!-- Certificados -->
    <!-- <section id="certificates" class="pt-24">
      <h2 class="text-3xl font-bold my-4">Certificados</h2>
      <Certificados />
    </section> -->
  </main>
</Layout>
