---
interface Props {
  title: string;
  date: string;
  place: string;
  description: string;
}

const { title, date, place, description } = Astro.props;
---

<li class="mb-20 ms-4">
  <!-- dot -->
  <div
    class="absolute w-3 h-3 bg-[#6180fe] rounded-full mt-1.5 -start-1.5 border border-[#6180fe]"
  >
  </div>
  <div class="grid md:grid-cols-2 gap-4">
    <div>
      <h3 class="font-bold capitalize text-[#6180fe] text-xl">
        {title}
      </h3>
      <h4 class="font-semibold">{place}</h4>
      <time
        class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500"
        >{date}</time
      >
    </div>
    <p class="font-normal text-pretty text-gray-500 dark:text-gray-400">
      {description}
    </p>
  </div>
</li>
