---
const { name, icon } = Astro.props;
---

<span
  class={`flex items-center gap-1 px-2 py-1 text-xs font-medium text-white border-[1px] border-gray-700 rounded-full`}
>
  <icon class="w-4 h-4"></icon>
  {name}
</span>
